* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background: #1f1f1f;
}
.main-container {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}

.header {
  padding: 15px 0;
  background: #ea526f;
  color: white;
  text-align: center;
  font-size: 2.4rem;
  border-radius: 5px;
}
.content {
  margin: 10px 0;
  height: 550px;
  display: flex;
  justify-content: space-between;
}
.aside-box {
  height: 100%;
  width: 15%;
  background: #ff8a5b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-box {
  height: 100%;
  width: 85%;
  border-radius: 5px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.horizontal-box {
  background: #ff8a5b;
  border-radius: 5px;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  background: #f4f3f3;
  color: black;
  font-size: 1.4rem;
  border-radius: 5px;
}
.item1,
.item2,
.item3 {
  padding: 45px;
  margin: 3px 0;
}
.item4,
.item5,
.item6 {
  padding: 45px 90px;
  margin: 0 3px;
}
.card-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  height: 60%;
}
.card1,
.card2,
.card3 {
  padding: 100px 0;
  text-align: center;
  background: #83dbeb;
  font-size: 2rem;
  border-radius: 5px;
}
.card1 {
  flex-grow: 1;
}
.card2 {
  flex-grow: 2;
  margin: 0 10px;
}
.card3 {
  flex-grow: 1;
}

.footer {
  padding: 40px 0;
  background: #ea526f;
  color: white;
  text-align: center;
  font-size: 2.4rem;
  border-radius: 5px;
}
